%h2 User Sign up
= form_for @user, url: user_registration_path, html: { id: 'theForm', class: 'simform', autocomplete: 'off' } do |f|
  = devise_error_messages!
  .simform-inner
    %ol.questions
      %li
        %span
          = f.label :stylist, "Are you a fashion stylist?"
        = f.text_field :stylist, placeholder: 'Yes or No'
      %li
        %span
          = f.label :first_name
        = f.text_field :first_name
      %li
        %span
          = f.label :last_name
        = f.text_field :last_name
      %li
        %span
          = f.label :email
        = f.email_field :email
      %li
        %span
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
        = f.password_field :password, autocomplete: "off"
      %li
        %span
          = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: "off"

    .controls
      %button.next.fa.fa-arrow-circle-right.fa-2x
      .progress
      %span.number
        %span.number-current
        %span.number-total
      %span.error-message
      .press_enter_msg
        %span Please press enter
        %em or
        %span
          %i.fa.fa-arrow-circle-right
        %span to continue

    %span.final-message





=# render "user/shared/links"