= link_to(user) do
  .stylist-index-bar-minimized
    %span.profile
    = show_user_profile_image(user, 60, "middle-thumbnail")

    %span.main-panel
      = user.first_name

      %span.team-counter
        %span belongs to
        %span 5
        %span team
    %span.actions
      - if user.followed_by(current_user)
        = button_to "Remove from Team", follow_path(user.followed_by(current_user)), method: :delete, :class => "btn btn-primary btn-sm btn-danger"
      - else
        = form_for :follow, url: follows_path do |f|
          = f.hidden_field :target_id, value: user.id
          = button_to "Add To Team", nil, class: "btn btn-warning btn-sm btn-default"


