= link_to '' do
  .img-thumbnail.well-sm
    %p
      %small.text-muted
        = when_pinned(activity)
    = image_tag attachment_url(activity['object'], :item_image, :fill, 300, 300)
    %p
      %strong= activity['actor'].email
      pinned
      %strong= activity['object'].title