.item-thumbnail
  %p
    %small.text-muted
    %p
      %strong= activity['actor'].email
      posted
      %strong= activity['object'].title
      = when_pinned(activity)
  = image_tag display_pinned_image activity
  .feedback-results

  .feedback-form-container
    = form_for(:feedback, url: { controller: "feedbacks", action: "create", method: "post"}) do |f|
      = hidden_field_tag(:item_id, activity['object'].id)
      .form-group.feedback-button-group
        - feedback_counter activity
        = f.radio_button "name_#{activity['object'].id}" , 'Like it'
        = f.label "name_#{activity['object'].id}", display_feedback_counter_icon(@like_count), value: "Like it"


        = f.radio_button "name_#{activity['object'].id}" , 'Love it'
        = f.label "name_#{activity['object'].id}", display_feedback_counter_icon(@love_count), value: "Love it"

        = f.radio_button "name_#{activity['object'].id}", 'Leave it'
        = f.label "name_#{activity['object'].id}", display_feedback_counter_icon(@leave_count), value: "Leave it"
      .form-group
        = f.submit "send feedback"

