.item-thumbnail
  - feedback_totals item
  = image_tag display_pinned_image item

  .feedback-response
    = display_feedback_counter_icon(like_it_count)
    = display_feedback_counter_icon(love_it_count)
    = display_feedback_counter_icon(leave_it_count)
  = render "pins/form", item: item, image: :item_image