%h1
  = "Welcome #{current_user.email}"

%h1 Dashboard

%div
  = "Signed in? #{user_signed_in?}"

%div
  = link_to "Profile", new_profile_path
%div
  = link_to "Advice Board", adviceboard_path
%div
  %input.btn.btn-default{:type => "radio", :value => "disabler"}/
