%nav.navbar.navbar-default.navbar-static-top
  .container

  - if user_signed_in?
    .brand= "remba"
    / add other links here for a signed in user
    = link_to "sign out", destroy_user_session_path, method: :delete
    =# render 'shared/stylist_action_navigation'
  - else
    %span.brand= "remba"
    %span= link_to "How it works", "#"
    |
    %span= link_to "About", "#"
    |
    %span= link_to "sign up", new_user_registration_path
    |
    \#{link_to "sign in", new_user_session_path}