%nav.navbar.navbar-default.navbar-static-top
  .container
    .brand= "remba"
    %span= link_to "How it works", "#"
    |
    %span= link_to "About", "#"
    |
  - if user_signed_in?
    = link_to "sign out", destroy_user_session_path, method: :delete
  - else
    = link_to "sign up", new_user_registration_path
    |
    \#{link_to "sign in", new_user_session_path}