%nav.navbar.navbar-default.navbar-static-top
  .container

  %h3.brand
    = link_to "remba", root_path
  - if user_signed_in?
    = link_to "sign out", destroy_user_session_path, method: :delete
  - else
    %span= link_to "How it works", "#"
    |
    %span= link_to "About", "#"
    |
    %span= link_to "sign up", new_user_registration_path
    |
    \#{link_to "sign in", new_user_session_path}