%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#collapsemenu", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to "REMBA", root_path, class: 'navbar-brand'
    #collapsemenu.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if user_signed_in?
          %li= link_to 'Users', users_path
          %li= link_to 'My Channel', feed_flat_path if current_user.is_stylist?
          %li= link_to "stylist", stylists_path
          %li= link_to "team", team_path(fashion_team.id) unless fashion_team.blank?
          %li= link_to 'Fashion board', fashionboard_path if current_user.is_member?
          %li= link_to "sign out", destroy_user_session_path, method: :delete

        - else
          %span= link_to "How it works", how_it_works_path
          |
          %span= link_to "About", about_path
          |
          %span= link_to "sign up", new_user_registration_path
          |
          \#{link_to "sign in", new_user_session_path}
      - if user_signed_in?
        %span.nav-avatar
          = profile_picture_mini_thumbnail
