%h1 Your Fashionboard
= current_member.email
.container
 .team-panel
  %h4 Create your fashion team
  %p= "You have #{@team_count} stylist on your team"
  = link_to "Add Stylist", stylists_path, class: "btn btn-warning"

  %div
   - @stylists.each do |stylist|
    .stylist-fashionboard-panel
     .row
      %p
       = stylist.email

%p You don't have any fashion entries yet



